/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card--1, .card--2 {
    display: flex;
    flex-direction: column;
    color: #f7f7f7;
    width: 45%;
    padding: 15px;
}

.header, .body {
    padding: 15px;
}

h2 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    border-bottom:  1px solid #888888;
    padding-bottom: 15px ;
}

p {
    line-height: 1.4;
    font-size: 18px;
    letter-spacing: 1px;
}

.card--1 {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #00008b, #9932cc);
    border-image-slice: 1;
}

.card--2 {
    border-inline: 5px solid;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #ff0000, #ffa500, rgba(0, 0, 0, 0));
    border-image-slice: 1;
}
